<html>
    <head>
        <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=8cf1b047a7bccd77a82637036c58096e&plugin=Map3D"></script>  
        <script type="text/javascript" src="//webapi.amap.com/loca?v=1.3.0&key=8cf1b047a7bccd77a82637036c58096e&plugin=Map3D"></script>
        <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1630238_m7gpdw4mu1.css">    
    </head>
    <body> 
        <main class="background_div">
            <div id="container">
                
            </div>
            <div id="left" class="side" style="left: 1.2%;">
                <div class="side_div1">
                    <span id="todayDate">2019年11月28号</span>
                    <span id="todayWeather" style="margin-left: 5rem;">6~11℃  晴</span>
                </div>
                <div class="side_div2 border" id="tobig1">
                    <div class="divTitleFontsize"><span class="initChart1">供电负荷趋势（kWh）</span>
                        <i class="iconfont icon-fangda bigiconSize toseebig"></i>
                    </div>
                    <div id="chart1"></div>
                </div>
                <div class="side_div3">
                    <div class="chart-wrap border">
                        <div class="divTitleFontsize"><span class="initChart2">昨日用电分布</span>
                            <i class="iconfont icon-fangda bigiconSize toseebig"></i>
                        </div>
                        <div class="chart"><div id="chart2" style="height: 100%;width:100%"></div></div>
                    </div>
                    <div class="chart-wrap border">
                        <div class="divTitleFontsize"><span class="initChart3">燃料消耗（kgce）</span>
                            <i class="iconfont icon-fangda bigiconSize toseebig"></i>
                        </div>
                        <div class="chart"><div id="chart3" style="height: 100%;width:100%"></div></div>
                    </div>
                </div>
                <div class="side_div4">
                    <div class="chart-wrap border">
                        <div class="divTitleFontsize"><span class="initChart4">产量（个）</span>
                            <i class="iconfont icon-fangda bigiconSize toseebig"></i>
                        </div>
                        <div class="chart"><div id="chart4" style="height: 100%;width:100%"></div></div>
                    </div>
                    <div class="chart-wrap border">
                        <div class="divTitleFontsize"><span class="initChart5">产品单耗（kgce/个）</span>
                            <i class="iconfont icon-fangda bigiconSize toseebig"></i>
                        </div>
                        <div class="chart"><div id="chart5" style="height: 100%;width:100%"></div></div>
                    </div>
                </div>
            </div>
            <div class="center">
                
            </div>
            <div id="right" class="side" style="right: 1.2%;">
                <div class="side_div1"> 
                    <i class="iconfont icon-broadcast iconSize"></i>
                    <div style="border-left: 0.2rem solid #d1d3d4;height: 43%;margin-left: 2rem;margin-right: 2.5rem;"></div>
                    <div style="overflow:hidden;color: red;flex: 1;font-size: 3.6rem;"><div class="right-title">欢迎市领导莅临玲珑集团！</div></div> 
                </div>
                <div class="side_div3"> 
                    <div class="chart-wrap border">
                        <div class="divTitleFontsize"><span class="initChart6">未来七天天气预报（℃）</span>
                            <i class="iconfont icon-fangda bigiconSize toseebig"></i>
                        </div>
                        <div class="chart"><div id="chart6" style="height: 100%;width:100%"></div></div>
                    </div>
                    <div class="chart-wrap border">
                        <div class="divTitleFontsize"><span class="initChart7">生产供气量（t）</span>
                            <i class="iconfont icon-fangda bigiconSize toseebig"></i>
                        </div> 
                        <div class="chart"><div id="chart7" style="height: 100%;width:100%"></div></div>
                    </div>
                </div>
                <div class="side_div3">
                    <div class="chart-wrap border">
                        <div class="divTitleFontsize"><span class="initChart8">蒸汽供暖负荷预测</span>
                            <i class="iconfont icon-fangda bigiconSize toseebig"></i>
                        </div>
                        <div class="chart"><div id="chart8" style="height: 100%;width:100%"></div></div>
                    </div>
                    <div class="chart-wrap border">
                        <div class="divTitleFontsize"><span class="initChart9">制冷负荷（t）</span>
                            <i class="iconfont icon-fangda bigiconSize toseebig"></i>
                        </div>
                        <div class="chart"><div id="chart9" style="height: 100%;width:100%"></div></div>
                    </div>
                </div>
                <div class="side_div4">
                    <div class="chart-wrap border">
                        <div class="divTitleFontsize"><span class="initChart10">用水量（t）</span>
                            <i class="iconfont icon-fangda bigiconSize toseebig"></i>
                        </div>
                        <div class="chart"><div id="chart10" style="height: 100%;width:100%"></div></div>
                    </div>
                    <div class="chart-wrap border">
                         
                    </div>
                </div>
            </div>

            <!-- 告警表格 -->
            <div class="centerTable" style="display: block;">
                <table id="warningTable" class="warningTable table">
                    <thead style="color: rgba(23, 255, 243)"></thead>
                    <tbody style="color: #ffffff;"></tbodystyle="">
                </table>
            </div>

            <!-- 设置按钮 -->
            <div class="setButton">
                <i class="iconfont icon-shezhi iconSize"></i>
            </div>

            <!-- 中间上方排放量弹框 -->
            <div class="centerTop border">
                <div>
                    <img class="img" src="<%= require('./src/asset/dian_icon.png') %>" /> 
                    <!-- <i class="iconfont icon-lightningshandian iconSize"></i> -->
                    用电量：<span class="fontColorBlue">1366kWh</span>
                </div>
                <div>
                    <img class="img" src="<%= require('./src/asset/qi_icon.png') %>" />
                    <!-- <i class="iconfont icon-lightningshandian iconSize"></i> -->
                    供暖量：<span class="fontColorBlue">999GJ</span>
                </div>
                <div>
                    <img class="img" src="<%= require('./src/asset/nuan_icon.png') %>" />
                    <!-- <i class="iconfont icon-lightningshandian iconSize"></i> -->
                    供气量：<span class="fontColorBlue">1366t</span>
                </div>
                <div>
                    <img class="img" src="<%= require('./src/asset/shui_icon.png') %>" />
                    <!-- <i class="iconfont icon-lightningshandian iconSize"></i> -->
                    用水量：<span class="fontColorBlue">136t</span>
                </div>
                <div>
                    <img class="img" src="<%= require('./src/asset/tanpaifang_icon.png') %>" />
                    <!-- <i class="iconfont icon-lightningshandian iconSize"></i> -->
                    碳排放：<span class="fontColorBlue">136t</span>
                </div>
            </div>

            <!-- 中间左下方选择框 -->
            <div class="centerChooseType">
                <div class="chooses">
                    <div id="chooseElectric" class="choose"><div class="choosePic"><img class="img2" src="<%= require('./src/asset/dian_icon.png') %>" /></div><span>供电</span></div>
                    <div id="chooseGas" class="no_choose"><div class="choosePic"><img class="img2" src="<%= require('./src/asset/qi_icon.png') %>" /></div><span>供汽</span></div>
                    <div id="chooseWarm" class="no_choose"><div class="choosePic"><img class="img2" src="<%= require('./src/asset/nuan_icon.png') %>" /></div><span>供暖</span></div>
                    <div id="chooseWater" class="no_choose"><div class="choosePic"><img class="img2" src="<%= require('./src/asset/shui_icon.png') %>" /></div><span>供水</span></div>
                </div>
                <div>
                    <div style="font-size: 1.7rem;">单位：kWh</div>
                    <div style="font-size: 2.2rem;display: flex;margin-top: 1.4rem;">
                        <div class="chooseColor"></div>
                        <div class="chooseUnit">
                            <div>8000</div>
                            <div>6000</div>
                            <div>4000</div>
                            <div>2000</div>
                        </div>
                    </div>
                </div> 
            </div>

            <!-- 顶部文字 -->
            <div class="myTitle">
                <div class="ttitle">
                    <img class="titleImg" src="<%= require('./src/asset/logo_linglong.png') %>" />
                    玲珑智慧综合能源系统
                </div>
                <div class="line"></div>
            </div>

            <!-- 放大后的遮罩层 -->
            <div class="hideInfo" style="display: none;"></div>
            <div class="toBigDiv" style="display: none;">
                <div style="display: flex;justify-content: space-between;">
                    <span id="bigTitle" style="font-size: 4rem;">供电负荷趋势（kWh）</span>
                    <i id="cancelBig" class="iconfont icon-quxiao iconSize"></i>
                </div>
                <div id="chartBig"></div>
            </div>
        </main>  
    </body>
</html>