$divBackground-color: rgba(13, 35, 94, 0.76);
$chartMarginBottom: 2rem; 
$borderFourColor: rgb(255, 253, 253); 

body{
    margin:0;
    padding: 0;
}

.background_div{
    width: 100%;
    height: 100%;
    background-color:black;
}

main{   
    color: #ffffff;

    #container{
        width: 100%;
        height: 100%; 
    }

    .side{ 
        position: absolute;  
        top: 0;
        width: 27%;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden; //可以让元素严格按照百分比显示，而防止被内部大尺寸元素撑住
        
        .side_div1{  
            font-size: 2.8rem;
            height: 11%;  
            display: flex;
            align-items:center;
        }

        .side_div2{  
            box-sizing: border-box;
            box-shadow: inset 0px 0px 0px 0.35rem #2C6297;
            height: 27%;
            background-color: $divBackground-color; 
            margin-bottom: $chartMarginBottom;  

            #chart1{
                margin: 0 0 0 2.5rem;
                width: 100%;
                height: 80%;
            }
        }

        .side_div3,.side_div4{ 
            height: 27%;
            display: flex; 
            justify-content: space-between;
            
            >div{
                width: 49%;   
                background-color: $divBackground-color; 
                box-shadow: inset 0px 0px 0px 0.35rem #2C6297;
            }
        } 

        .side_div3{
            margin-bottom: $chartMarginBottom;
        }
    } 
 
    .centerTable{
        position: fixed; 
        right: 29.4%;
        background-color:  rgba(13, 35, 94, 0.4);
        bottom: 13%; 

        .warningTable{ 
            font-size: 2.1rem; 
            width: 53rem;
        } 
    }

    .setButton{
        position: fixed; 
        right: 29.4%;
        bottom: 4%;
        width: 6rem;
        height: 5rem;
        text-align: center;
        line-height: 5rem;
        border: 0.3rem solid #737577;
        border-radius: 1rem;
        background-color:  rgba(13, 35, 94, 0.4);
    }

    .myTitle{
        position: fixed;
        left: 50%;
        transform:translate(-50%);
        top: 4%;
        font-size: 4.8rem;

        .line{
            width:100%;
            height:0.4rem;
            background: -webkit-linear-gradient(left, rgba(95,243,251, 0) -4%,rgba(95,243,251, 1) 50%,rgba(95,243,251, 0) 100%);
        }
    }
}

.centerTop{
    position: fixed; 
    left: 30%;
    top: 14%;
    font-size: 2.5rem;
    padding: 3rem 2rem 2rem 2rem;
    box-shadow: inset 0 0 1.6rem 0.35rem #2C6297;

    >div{
        margin-bottom: 1.5rem;
    }
}

.centerChooseType{
    display: flex;
    position: fixed; 
    left: 30%;
    bottom: 4%;
    font-size: 3.5rem; 

    .chooses{
        margin-right: 4.6rem;
        >div{
            display: flex;
            align-items: center; 
            cursor: pointer; 
        }

        >div:not(:first-child){
            margin-top:2rem;
        } 
    }
}

.choosePic{ 
    border-radius: 3rem; 
    box-sizing: border-box;
    width: 6rem;
    height: 6rem;
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-right: 2rem;
}

.choose{
    >div{
        background-color: yellow;
    }
    >span{
        color: yellow;
    }
}

.no_choose{ 
    >div{
        border: 0.2rem solid white;
    }
    >span{
        color: white;
    }
}

.fontSizeFour{
    font-size: 5rem; 
}
 
.fontColorBlue{
    color:#01D2F7
}

/*设置表格奇偶数行背景色不同*/
.table>tbody>tr:nth-of-type(odd) {
    background: rgba(4, 10, 33, 1);
}

.table>tbody>tr:nth-of-type(even) {
    background: rgba(50, 58, 97, 0.5);
}

.table>thead>tr{
    line-height: 4.5rem; 
}

.table>tbody>tr{
    line-height: 4.5rem; 
    text-align: center;
} 
 
.border{ 
    background: linear-gradient($borderFourColor, $borderFourColor) left top,
    linear-gradient($borderFourColor, $borderFourColor) left top,
    linear-gradient($borderFourColor, $borderFourColor) right top,
    linear-gradient($borderFourColor, $borderFourColor) right top,
    linear-gradient($borderFourColor, $borderFourColor) left bottom,
    linear-gradient($borderFourColor, $borderFourColor) left bottom,
    linear-gradient($borderFourColor, $borderFourColor) right bottom,
    linear-gradient($borderFourColor, $borderFourColor) right bottom;
    background-repeat: no-repeat;
    background-size: 0.1vw 0.5vw, 0.5vw 0.1vw;  
}

.divTitleFontsize{
    font-size: 2.5rem;
    margin: 1.5rem 0 0 2.5rem;
} 

.chart-wrap {  
    display: flex; 
    flex-direction: column;

    .chart {
        flex: 1;
        height: 0; //这样可以不让内部元素撑住高度而破坏布局比例
        
        >div{
            margin: 0 0 0 2.5rem; 
        }
    }
}

@keyframes move {
    0%, 15%{
      transform: translateX(0);
    }
    95%,100%{
      transform: translateX(calc(-100%));
    }
}
    
.right-title{  
    white-space: nowrap; 
    word-break: keep-all;
    width: fit-content;
    animation: move 8s linear infinite;
}

.right-title:hover {
    animation-play-state: paused
}

.iconSize{
    font-size: 3.5rem;
}